@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");

@font-face {
    font-family: "Comic Neue";
    src: url("./fonts/comicneue-angular-bold-webfont.woff2") format("woff2"),
        url("./fonts/comicneue-angular-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Highway Gothic";
    src: url("./fonts/hwygoth-webfont.woff2") format("woff2"),
        url("./fonts/hwygoth-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Riffic";
    src: url("./fonts/rifficfree-bold-webfont.woff2") format("woff2"),
        url("./fonts/rifficfree-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark: #070e16;
    --dark-opacity-1: #070e16c7;
    --dark-opacity-2: #070e1680;
    --dark-opacity-3: #070e1645;
    --dark-opacity-4: #070e162c;
    --transparent: #00000000;
    --light: #e1e1e1;
    --light-opacity-1: #e1e1e1c7;
    --light-opacity-2: #e1e1e180;
    --light-opacity-3: #e1e1e145;
    --light-opacity-4: #e1e1e12c;
    --ff-sea: #718e9a;
    --ff-sand: #ccc598;
    --ff-dull-sand: #9e9a63;
    --ff-duller-sand: #848066;
    --ff-violet: #9d80a2;
    --ff-blue: #2868b4;
    --ff-red: #b63232;
    --ff-yellow: #c7cb48;
    --ff-green: #3fb632;
    --ff-purple: #9f48cb;
    --ff-orange: #d16a26;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    font-family: "Highway Gothic";
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
    display: flex;
    background-color: var(--dark);
}

iconify-icon {
    transition: opacity 0.2s;
}

button,
a {
    all: unset;
    cursor: pointer;
    transition: background 0.15s, opacity 0.15s, color 0.15s, box-shadow 0.3s,
        border 0.3s;
}

button:disabled,
input:disabled {
    opacity: 0.5;
    pointer-events: none;
}

button:not(.no-bg) {
    background-color: var(--dark-opacity-3);
}

button:not(.no-bg-change, .light-hover):hover,
button:not(.no-bg-change, .light-hover):focus,
a.bg-change:not(.no-bg-change, .light-hover):hover,
a.bg-change:not(.no-bg-change, .light-hover):focus {
    background-color: var(--dark-opacity-2) !important;
}

button.light-hover:not(.no-bg-change):hover,
button.light-hover:not(.no-bg-change):focus,
a.bg-change.light-hover:not(.no-bg-change):hover,
a.bg-change.light-hover:not(.no-bg-change):focus {
    background-color: var(--dark-opacity-3) !important;
}

input {
    all: unset;
    transition: background 0.2s, opacity 0.2s;
}

input[type="checkbox"]:not(:disabled) {
    cursor: pointer;
}

input::placeholder {
    color: var(--dark-opacity-2);
}

a {
    border-radius: 1rem;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: underline;
}

hr {
    width: 100%;
    background-color: var(--dark-opacity-3);
    border-color: var(--dark-opacity-3);
}

hl {
    padding: 0.25rem 0.75rem;
    background-color: var(--dark-opacity-3);
    border-radius: 0.75rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.fw {
    flex-wrap: wrap;
}

.fjc-center {
    justify-content: center;
}

.fai-center {
    align-items: center;
}

.rg-1 {
    row-gap: 1rem;
}

.cg-1 {
    column-gap: 1rem;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.smaller-fs {
    font-size: 0.85em;
}

.border-tp {
    border: 1rem var(--dark-opacity-2) solid;
}

.br-1 {
    border-radius: 1rem;
}

.bs {
    box-shadow: 0 0 2.5rem var(--dark-opacity-1);
}

.ta-center {
    text-align: center;
}

.font-ms {
    font-family: monospace;
    font-weight: bold;
}

.font-cn {
    font-family: "Comic Neue";
}

.font-hg {
    font-family: "Highway Gothic";
}

.font-rf {
    font-family: "Riffic";
}

.ff-item {
    background-color: var(--dark-opacity-4);
    border-top: 0.5rem solid var(--dark-opacity-4);
    border-left: 0.5rem solid var(--dark-opacity-4);
    border-radius: 1rem;
}

.ff-bg {
    background: repeating-linear-gradient(
        -45deg,
        #00000008,
        #00000008 0.75rem,
        var(--bg) 0,
        var(--bg) 2.5rem
    );
    background-color: var(--bg);
}

.bg-sand {
    --bg: var(--ff-sand);
}

.textBtn {
    padding: 1rem 0;
    color: var(--dark-opacity-2);
}

.textBtn:hover,
.textBtn:focus {
    color: var(--dark-opacity-1);
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    object-fit: cover;
    transition: opacity 1s ease-in-out, filter 0.3s;
}

.background.active {
    opacity: 1;
}

#zoomLevel {
    top: 50%;
    left: 50%;
    font-size: 3vh;
    translate: -50% -50%;
    z-index: 15;
}

.title {
    font-size: 1.15em;
}

.pageWarning {
    max-width: 50vw;
    padding: 2.5rem;
    margin: auto;
    font-size: 4.25rem;
    z-index: 0;
}

.lockedNotice {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--dark);
    color: var(--light);
    opacity: 0.75;
}

.signupAndLogin {
    row-gap: 2.5rem;
    width: 50rem;
}

.signupAndLogin #switchMethod {
    padding: 0.25rem 0.75rem;
    border-width: 0.5rem;
}

.signupAndLogin .formInputs > div {
    background-color: var(--dark-opacity-4);
}

.signupAndLogin .formInputs iconify-icon {
    font-size: 4.5rem;
    margin: 1rem;
}

.signupAndLogin input {
    height: 6.5rem;
    width: 100%;
    background-color: var(--transparent);
}

.username iconify-icon {
    font-size: 1.25em;
}

.changelog {
    row-gap: 2.5rem;
    max-height: 80rem;
    width: 75rem;
    max-width: 80vw;
    padding: 0 2rem;
    overflow: auto;
    list-style: none;
}

.changelog hr:first-of-type {
    display: none;
}

.changelogItem:first-of-type #cliVersion::after {
    content: " — Latest";
}

.changelogItem #cliVersion,
.changelogItem #cliInfo {
    text-align: left;
}

.changelogItem #cliVersion,
.changelogItem #cliDate {
    width: 50%;
}

.changelogItem #cliVersion {
    font-size: 1.15em;
}

.changelogItem #cliDate {
    text-align: right;
    color: var(--dark-opacity-2);
}

.changelogItem #cliInfo {
    width: 100%;
    color: var(--dark-opacity-1);
}

.credits {
    row-gap: 1.5rem;
}

.credits iconify-icon#discord,
bl {
    color: #5865f2;
}

.credits iconify-icon {
    font-size: 4rem;
}

.credits a {
    color: var(--ff-blue);
}

.support {
    row-gap: 2.5rem;
    max-width: 75rem;
}

.support a {
    padding: 1.5rem;
}

.support img {
    height: 7.5rem;
}

.policy {
    row-gap: 1.5rem;
    max-width: 90rem;
}

.policy b {
    font-size: 1.1em;
}

.promptCont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
    z-index: 10;
}

.promptCont > div:not(.ignoreWrapper) {
    --bg: var(--ff-sand);
    background: repeating-linear-gradient(
        -45deg,
        #00000008,
        #00000008 1rem,
        var(--bg) 0,
        var(--bg) 5rem
    );
    background-color: var(--bg);
    display: flex;
    padding: 4rem;
    border-radius: 2rem;
    font-size: 3.75rem;
    text-align: center;
}

.promptCont .title {
    margin-bottom: 2.5rem;
}

.promptCont .title ~ .title:not(.title + hr + .title) {
    margin-top: 2.5rem;
}

.promptCont .title + hr {
    margin-bottom: 2.5rem;
}

.promptCont .contents {
    scrollbar-width: 1.5rem;
}

.promptCont .mainBtn {
    padding: 1.5rem;
    font-size: 4rem;
}

.optionButtons,
.optionButtons button {
    width: 100%;
    padding: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    position: fixed;
    margin: 1vh;
    padding: 1.5vh;
    border-radius: 1vh;
    background-color: var(--dark-opacity-2);
    color: var(--light);
    font-family: "Highway Gothic";
    font-size: 2.5vh;
    z-index: 2;
}

.info img {
    height: 5vh;
}

.info#credits {
    column-gap: 1vh;
}

.info#donate {
    padding: 1vh;
}

.info#account {
    background-color: var(--dark-opacity-1);
    filter: invert();
}

.info#changelog {
    font-size: 4vh;
}

.info#changelog #unseen {
    position: absolute;
    left: 50%;
    bottom: 50%;
    font-size: 6.5vh;
    pointer-events: none;
}

.info#version {
    right: 0;
    bottom: 0;
}

.info#policy {
    right: 0;
    bottom: 7vh;
    padding: 1vh;
    font-size: 4vh;
}

.toasts {
    row-gap: 1vh;
    top: 0;
    right: 0;
    margin: 2.5vh;
    font-size: 2.5vh;
    color: var(--light);
    z-index: 5;
}

.toasts.centered {
    left: 50%;
    right: unset;
    margin: 2.5vh 0;
    translate: -50% 0;
}

.toast {
    align-self: flex-end;
    padding: 1vh;
    background-color: var(--dark-opacity-2);
}

.toasts.centered .toast {
    align-self: center;
}

.tooltip {
    position: absolute;
    padding: 1.25rem;
    opacity: 0;
    visibility: hidden;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 0.5rem;
    font-size: 2.35rem;
    font-weight: normal;
    text-align: center;
    pointer-events: none;
    transition: visibility 0.15s, opacity 0.15s;
    z-index: 3;
}

.tooltip::after {
    content: "";
    position: absolute;
    padding: 0.8rem;
    background-color: var(--light);
    rotate: 45deg;
    z-index: -1;
}

.tooltip#top {
    left: 50%;
    bottom: calc(100% + 2.5rem);
    translate: -50%;
}

.tooltip#top::after {
    left: 50%;
    top: calc(100% - 1rem);
    translate: -50%;
}

.tooltip#right {
    top: 50%;
    left: calc(100% + 2.5rem);
    translate: 0 -50%;
}

.tooltip#right::after {
    top: 50%;
    right: calc(100% - 1rem);
    translate: 0 -50%;
    z-index: 0;
}

.tooltip#left {
    top: 50%;
    right: calc(100% + 2.5rem);
    translate: 0 -50%;
}

.tooltip#left::after {
    top: 50%;
    left: calc(100% - 1rem);
    translate: 0 -50%;
}

.tooltip#bottom {
    top: calc(100% + 2.5rem);
    left: 50%;
    translate: -50%;
}

.tooltip#bottom::after {
    top: -0.75rem;
    left: 50%;
    translate: -50%;
}

*:hover > .tooltip,
*:focus > .tooltip {
    opacity: 1;
    visibility: visible;
}
